<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d %p %C{1.} [%t] %mdc %m%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="DefaultLogger"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="br.com.adrianorodrigues.stocksportfolio.external.gateway" level="TRACE" additivity="false">
        <appender-ref ref="DefaultLogger"/>
    </logger>

    <logger name="br.com.adrianorodrigues.stocksportfolio.usecase" level="TRACE" additivity="false">
        <appender-ref ref="DefaultLogger"/>
    </logger>


</configuration>
